<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>

https://teams.microsoft.com/l/meetup-join/19%3ameeting_NzYwY2Q5YTAtMDk2NS00YWJkLWI4YWItNDlmOGQ5ZmQzMGYx%40thread.v2/0?context=%7b%22Tid%22%3a%227c8a10fe-0cc0-43ce-b212-100d961a4e38%22%2c%22Oid%22%3a%2228fb68c4-cef9-463e-be88-779538fad091%22%7d
